.main-navigation {
    height: 70px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.05);

    .navigation {
        .nav-item {
            margin-left: 10px;
            color: #000000;
        }
    }

    .logo-image {
        width: 60px;
    }
}